<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>untitled</title>
    <link rel="stylesheet" href="/vendor/css/foundation.css">
    <link rel="stylesheet" href="/vendor/css/app.css">
  </head>
  <body>
    <div id="root"><%- initialContent -%></div>
    <script src="/vendor/js/jquery.js"></script>
    <script src="/vendor/js/what-input.js"></script>
    <script src="/vendor/js/foundation.min.js"></script>
    <script src="/vendor/js/app.js"></script>
    <script src="/bundle.js" charset="utf-8"></script>
  </body>
</html>
